body {
    background-image: url('../images/bg.jpg');
    background-repeat: repeat;
}

header {
    min-height: calc(100vh);
}

footer {
    color: yellow;
}

.txt-white {
    color: white;
}

a {
    color: yellow;
    font-weight: normal;
    padding: 10px;
    border-right: 2px solid;
}

.txt-green {
    color: green;
}

.txt-bold {
    font-weight: bold;
    color: rgb(240, 164, 164);
}

table {
    width: 100%;
    text-align: center;

}

thead {
    background-color: rebeccapurple;
    color: white;
}

tbody {
    color: green;
    background-color: beige;
    border: none;
}

tfoot {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: right;
}

th,
td {
    padding: 10px;
}