body {
    background-image: url('../images/bg.jpg');
    background-repeat: repeat;
}

header {
    min-height: calc(100vh - 50px);
}

footer {
    color: yellow;
}

.txt-white {
    color: white;
}
a{
    color:yellow;
    font-weight: normal;
}
.txt-green{
    color: green;
}
.txt-bold{
    font-weight: bold;
    color:rgb(240, 164, 164);
}