table
{
    width: 100%;
    text-align: center;
    border: 10px solid rgb(124, 85, 231);
}

thead {
    background-color: rgb(165, 50, 42);
    color: white;
}

tbody {
    color: green;
    background-color: beige;
}

tfoot {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: right;
}

th, td {
    padding: 10px;
}
